<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 定义配置的Annotation扫描包 -->
    <context:component-scan base-package="com.macfu"/>
    <!-- 定义所有要导入的属性文件的路径 -->
    <context:property-placeholder location="classpath:config/*.properties"/>
    <!-- 现在将整个的Shiro的生命周期控制直接交给Spring负责管理完成 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
</beans>