<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 进行Jedis连接池的相关配置 -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <!-- 最大可用连接数 -->
        <property name="maxTotal" value="${redis.pool.maxTotal}"/>
        <!-- 最小维持连接数 -->
        <property name="maxIdle" value="${redis.pool.maxIdel}"/>
        <!-- 最大等待时间 -->
        <property name="maxWaitMillis" value="${redis.pool.maxWaitMillis}"/>
        <!-- 确保取得可用连接 -->
        <property name="testOnBorrow" value="${redis.pool.testOnBorrow}"/>
    </bean>

    <!-- 配置认证数据库的链接 -->
    <bean id="connectionFactoryAuthentication" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <!-- 引用连接池的配置项 -->
        <property name="poolConfig" ref="jedisPoolConfig"/>
        <!-- redis连接地址 -->
        <property name="hostName" value="${redis.host}"/>
        <!-- redis连接端口 -->
        <property name="port" value="${redis.port}"/>
        <!-- redis连接密码 -->
        <property name="password" value="${redis.password}"/>
        <!-- 连接的超时时间 -->
        <property name="timeout" value="${redis.timeout}"/>
        <property name="database" value="${redis.db.authentication}"/>
    </bean>

    <!--  配置授权数据库的链接 -->
    <bean id="connectionFactoryAuthorization" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <!-- 引用连接池的配置项 -->
        <property name="poolConfig" ref="jedisPoolConfig"/>
        <!-- redis连接地址 -->
        <property name="hostName" value="${redis.host}"/>
        <!-- redis连接端口 -->
        <property name="port" value="${redis.port}"/>
        <!-- redis连接密码 -->
        <property name="password" value="${redis.password}"/>
        <!-- 连接的超时时间 -->
        <property name="timeout" value="${redis.timeout}"/>
        <property name="database" value="${redis.db.authorization}"/>
    </bean>

    <!-- 配置session缓存的数据库的连接 -->
    <bean id="connectionFactoryActiveSessionCache" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <!-- 引用连接池的配置项 -->
        <property name="poolConfig" ref="jedisPoolConfig"/>
        <!-- redis连接地址 -->
        <property name="hostName" value="${redis.host}"/>
        <!-- redis连接端口 -->
        <property name="port" value="${redis.port}"/>
        <!-- redis连接密码 -->
        <property name="password" value="${redis.password}"/>
        <!-- 连接的超时时间 -->
        <property name="timeout" value="${redis.timeout}"/>
        <property name="database" value="${redis.db.activeSessionCache}"/>
    </bean>

    <!-- 配置密码尝试次数的Redis连接池 -->
    <bean id="connectionFactoryRetryCount" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <!-- 引用连接池的配置项 -->
        <property name="poolConfig" ref="jedisPoolConfig"/>
        <!-- redis连接地址 -->
        <property name="hostName" value="${redis.host}"/>
        <!-- redis连接端口 -->
        <property name="port" value="${redis.port}"/>
        <!-- redis连接密码 -->
        <property name="password" value="${redis.password}"/>
        <!-- 连接的超时时间 -->
        <property name="timeout" value="${redis.timeout}"/>
        <property name="database" value="${redis.db.retryCount}"/>
    </bean>
</beans>